{% extends 'base.html.twig' %}

{% block body %}
    <h1>Genres list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for genre in genres %}
            <tr>
                <td>{{ genre.id }}</td>
                <td><a href="{{ path('genre_show', { 'name': genre.name }) }}">{{ genre.name }}</a></td>
                <td>{{ genre.role }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('genre_show', { 'name': genre.name }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
