{% extends 'base.html.twig' %}

{% block body %}
    <h1>Books list</h1>

    <table  class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Releasedate</th>
                <th>Length</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td><a href="{{ path('book_show', { 'name': book.name }) }}">{{ book.name }}</a></td>
                <td>{% if book.releaseDate %}{{ book.releaseDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ book.length }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('book_show', { 'name': book.name }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('book_edit', { 'id': book.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('book_new') }}">Create a new book</a>
        </li>
    </ul>
{% endblock %}
